$gridItemBg: #f1f1f1;
$color: #eb1851;
$bg: #e8e8e8;

body {
  background-color: $bg;
  margin: 0;
}

#masonry-layout {
  margin: 0 auto;
}
.gallery {
  &__container {
    width: 100%;
    min-height: 100vh;
    // overflow-x: hidden;
    padding: 80px 0;
  }


  &__item {
    padding: 30px;
    width: 260px;
    cursor: pointer;
    // margin: 20px 40px;

    &-wrapper {
      width: 100%;
      height: 100%;
    }

    &-bg {
      transition: 0.6s ease-in-out 0s;
      transform-origin: left top;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $gridItemBg;
    }

    &-content {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      transition: 0.4s ease;
    }

    &-img {
      top: 0;
      left: 0;
      transform-origin: left top;
      max-width: 100%;
      transition:
        transform 0.5s ease 0s,
        opacity 0.2s ease;
    }

    &.open {
      .gallery__item {
        &-img {
          // opacity: 0;
        }
      }
    }

    &.open, &.anim {
      z-index: 100;

      .gallery__item {
        &-img {
          position: absolute;
        }
        &-content {
          width: 100%;
        }
      }
    }

    &.anim {
      .gallery__item {
        &-img {
          opacity: 1;
        }
      }
    }
  }

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: $gridItemBg;
    width: 100%;
    height: 100vh;
    transition: 0.25s ease;
    overflow-y: auto;
    // height: auto;

    &-intro {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding: 30px;
      height: auto;
      width: 100%;
      min-height: 100%;
    }

    &-close {
      position: absolute;
      top: 6px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }

    img {
      // max-height: calc(100vh - 60px);
      transition: 0.25s ease;
      object-fit: contain;
      width: auto;
    }

    &.open:not(.anim) {
      z-index: 101;
      visibility: visible;
      opacity: 1;
    }
  }
}
