@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500i,700i');
@import url('https://fonts.googleapis.com/css?family=Kodchasan:300,300i,400,500i,700i');

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Kodchasan';
  --main: #252A34;
  --green: #2effae;
  --red: #FF2E63;
  --blue: #08D9D6;
  background-color: var(--main);
  overflow-x: hidden;
}

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.herosld {
  position: absolute;
  width: 75vw;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}

.c {
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 5px solid;
  width: 150px;
  height: 150px;
  top: 50%;
}

$cColors: var(--green) var(--red) var(--blue);
@for $i from 1 through 3 {
  .c#{$i} {
    border-color: nth($cColors, $i);
    animation: c 3.5s infinite ease-in-out;
  }
}
@keyframes c {
  0%{top: 60%;}
  50%{top: 40%;}
  100%{top: 60%;}
}

.c1 {
  transform: translateY(-50%);
}

.c2 {
  left: 50%;
  transform: translate(-50%,-50%);
  animation-delay: 0.25s;
}

.c3 {
  right: 0;
  transform: translateY(-50%);
  animation-delay: 0.5s;
}

.subtitle {
  position: absolute;
  font-size: 10em;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  letter-spacing: 50px;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.st1{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  .st2 {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 100%;
    top: 100%;
    transform: translateX(-120%);
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 5px;
    text-align: right;
  }
}

.arrow {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotateZ(-45deg);
  bottom: 15px;
  left: 50%;
  animation: hop 2s infinite;
}

@keyframes hop {
  0%{bottom: 20px;}
  50%{bottom: 15px;}
  100%{bottom: 20px;}
}

.lmdsg {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/lmdsg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 140% 140%;
  opacity: 0.2;
  z-index: 0;
}

.introduction {
  height: 750px;
  background-color: #fff;
}

.introtxt {
  position: absolute;
  width: 500px;
  top: 40%;
  left: 70%;
  transform: translate(-70%,-50%);
  font-family: 'Roboto';
  font-size: 18px;

  span {
    color: var(--main);
    font-family: 'Kodchasan';
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
  }
}

.thisisme {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%,-50%);
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url('../assets/lukasmussnig.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.circles {
  position: absolute;
  width: 350px;
  left: 70%;
  top: 65%;
  transform: translateX(-90%);
}
.cir {
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 5px solid;
  width: 75px;
  height: 75px;
  top: 50%;
}

$cirColors: var(--green) var(--red) var(--blue);
@for $i from 1 through 3 {
  .cir#{$i} {
    border-color: nth($cirColors, $i);
  }
}
.cir1 {
  transform: translateY(-50%);
}

.cir2 {
  left: 50%;
  transform: translate(-50%,-50%);
}

.cir3 {
  right: 0;
  transform: translateY(-50%);
}

.projects {
  z-index: 100;
  height: 1500px;
  background-color: var(--main);
}

.social {
  height: 300px;
  background-color: #fff;

  .scenter {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70vw;

    img{
      width: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

.footer {
  height: 200px;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  text-align: center;

  div {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,-50%);
  }
}

/****************/
/*MEDIA-QUERRIES*/
/****************/

@media screen and (max-width: 1350px) {
  .thisisme {
    left: 25%;
  }

  .introtxt {
    left: 75%;
    width: 425px;
    font-size: 16px;

    span {
      font-size: 22px;
    }
  }

  .circles {
    width: 300px;
    left: 75%
  }
}

@media screen and (max-width: 975px) {
  .thisisme {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .introtxt {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

  }

  .circles {
    width: 300px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 800px) {
  .c {
    width: 80px;
    height: 80px;
    border-width: 3px;
  }

  .subtitle {
    font-size: 5em;
    letter-spacing: 25px;
  }

  .st1 .st2 {
    transform: translateX(-110%);
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 5px;
    text-align: right;
  }

  .social {
    height: 200px;

    .scenter {
      img {
        width: 30px;
      }
    }
  }
}

@media screen and (max-width: 800px) {

}
